<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<iframe id="video" width="560" height="315"
        src="https://www.youtube.com/embed/MjLsQNBBBd4?start={{ seconds }}&autoplay=1&rel=0&modestbranding=1&fs=0&showinfo=0&controls=0&cc_load_policy=1&iv_load_policy=3&showsearch=0&enablejsapi=1" frameborder="0"  allowfullscreen></iframe>
{{ session }}
<br>
<button id="play-button" class="btn btn-primary">PLAY</button>
<button id="pause-button" class="btn btn-secondary">STOP</button>
<button onclick="rewind()" class="btn btn-danger">REWIND</button>
<button> SOCKET </button>
</body>

<script src="{% static 'js/youtube.js' %}"></script>
</html>