<!DOCTYPE html>
<html lang="en" ng-app="restApp">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Player</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <scripit src="https://www.youtube.com/iframe_api"></scripit>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="{% static 'ng-app/app.js' %}"></script>
    <script src="{% static 'ng-app/controller.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
</head>
<body ng-controller="playerController as vm">
<div class="container">

  <h4>
      Your name: <b id="username">{{ username }}</b>
  </h4>

    <div class="row">
        <div class="col-lg-7">
            <div id="video"></div>

            <br>
            <button id="play-button" class="btn btn-primary">PLAY</button>
            <button id="pause-button" class="btn btn-secondary">STOP</button>
            <button id="rewind-button" class="btn btn-danger">SYNCHRO</button>
            <div class="slidecontainer">
              <input type="range" min="0"  value="0.1" class="slider" id="myRange">
            </div>

        </div>
        <div class="col-lg-4">
            <label for="exampleInputPassword1">Paste youtube video url here</label>
            <input id="url-input" type="text" class="form-control" name="groupname" placeholder="Youtube video url">
            <button id="url-submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    {% verbatim %}
    <div class="room_users">
    <h3>Users in this room:</h3>
        <li ng-repeat="user in vm.users">
            {{ user }}
        </li>
    </div>
    {% endverbatim %}
</div>
</body>
<script src="{% static 'js/youtube.js' %}">

</script>
</html>
